{{#categories}}
<ul class='itemList list-unstyled'>
    <li>
        <h1 id='{{id}}' class='page-header'>{{title}}</h1>
        <p>{{description}}</p>
    </li>
    {{#entries}}
    <li>
        <h4>{{title}}</h4>
        {{#tags}}
            <span class="label label-default">{{.}}</span>
        {{/tags}}
        <p>{{description}}</p>
        <ul class="list-unstyled">
            {{#urls}}
                <li>
                    <a href="{{url}}">{{title}}</a>
                </li>
            {{/urls}}
        </ul>
        <hr />
    </li>
    {{/entries}}
</ul>
{{/categories}}